# macOS system files
.DS_Store

# PyCharm project files
.idea/
build
makebgen.egg-info/

# Python cache files
makebgen/__pycache__/
makebgen/deduplication/__pycache__/
makebgen/process_bgen/__pycache__/
test/__pycache__/

# Poetry lock file
poetry.lock
uv.lock

# Test logs
test/dx_run.log
test/.DS_Store
dx_run.log
test/.coverage

# Test files
test/test_data/test_coordinates.txt
test/test_data/expected_output/test_coordinates_with_chunking.csv
test/final_dict.json